.p-2 {
  border: 1px solid #000080;
}

.dark-theme {
  background-color: #469489;
  color: #ffffff;
}

.customHeader {
  background: #c8c7c7 url("../img/blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  font-family: 'Montserrat', sans-serif;

}


.headerSetDimension {
  height: calc(23 vh + 5vw);
  width: 100%;
}

.fixed-navbar {
  background: #151515 url("../img/backg_nav.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  opacity: 0.9;
  width: 99.5vw;
  margin: 0 auto;
}

.header-content {
  /* Imposta lo sfondo del contenuto dell'header (escludendo la navbar) */
  background-size: cover;
  background-position: center left;
  padding-top: 70px;
  /* Regola lo spazio sopra il contenuto dell'header (escludendo la navbar) */
}

.nav-item a,
.nav-item.dropdown .nav-link {
  color: rgb(21, 0, 255);
  font-weight: bold;
}


.minibio {
  font-size: calc(1.5px + 1.55vw);
  /* Dimensione del testo dinamica in base alla larghezza del viewport */
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  top: -190px;
  text-shadow: 3px 3px 13px rgba(5, 238, 238, 1);
  /* Aggiunto effetto di ombra al testo */
  padding-top: 20px;
}

.minibio ul {
  padding-left: 27px;
  list-style: square;
  padding-top: 15px;
}

.minibio li {
  text-indent: 0;
}

.name {
  position: relative;
  top: 1px;
  text-align: center;
}

.name h1 {
  font-size: calc(0.5px + 2vw) !important;
  font-family: Poppins;
  font-weight: bold;
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: rgb(27, 60, 209);
  background: linear-gradient(45deg, #94f5f8, rgb(3, 180, 250));
  text-decoration: underline;
  opacity: 0.9;
  position: relative;
}

.name h1::before,
.name h1::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background: linear-gradient(45deg, #94f5f8, rgb(246, 250, 3));
  transform: rotate(-45deg);
  animation: shimmer 1s infinite;
}

.name h1::before {
  animation-delay: 2s;
}

.name h1::after {
  left: auto;
  right: -10px;
  animation-delay: 2s;
}

@keyframes shimmer {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.social-icons {
  padding-top: 12px;
  margin-right: 15px;
}

.social-icons a:link,
.social-icons a:visited {
  color: white !;
}

.social-icons a:hover {
  color: #3EF27E;
}

.fab {
  font-size: 24px;
}

.fa-linkedin {
  color: #fbecfb;
}

.fa-linkedin:hover {
  color: #2CB75F;
}

.fa-facebook {
  color: #fbecfb;
}

.fa-facebook:hover {
  color: #2CB75F;
}

.fa-github {
  color: #fbecfb;
}

.fa-github:hover {
  color: #2CB75F;
}


.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.biography {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.biography__title {
  width: 100%;
  text-align: center;
  padding-top: 10vh;
  font-family: 'Montserrat', sans-serif;
}

.biography__title h2::after {
  content: "";
  display: block;
  width: 250px;
  height: 3px;
  background-color: #3e4df2;
  margin: 10px auto;
}

.biography__skills {
  display: flex;
  justify-content: space-between;
  align-items: flex-center;
  flex: 1;
}

.biography__img {
  width: 215px;
  height: 200px;
  border-radius: 5%;
  box-shadow: -2px 2px 15px black;
}

.skills__hard,
.skills__soft {
  width: 75%;
  font-size: 20px;
}

.skills__soft ul {
  list-style-type: none;
  padding: 40;
  margin: 0;
}

.skills__soft li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.skills__soft li i {
  margin-right: 10px;
}

.carousel-item img {
  max-width: 30%;
  max-height: 30%;
  object-fit: contain;
  /* Per adattare l'immagine alle dimensioni del contenitore mantenendo l'aspect ratio */
  margin: auto;
}



.carousel-indicators {
  display: flex;
  justify-content: center;
}

.carousel-indicators li {
  margin: 0 5px;
  width: 12px;
  height: 12px;
}

/* Personalizza lo stile del testo delle didascalie */
.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3rem;
  color: rgb(255, 255, 255);
  text-align: top;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Sfondo con opacità per il testo */
  color: #fff;
  /* Colore del testo */
  border-radius: 10px;
  /* Angoli arrotondati per il riquadro del testo */
  padding: 10px;
  /* Spazio interno per il testo */
}


.carousel-caption h5 {
  font-size: 13px;
}

.carousel-caption p {
  font-size: 12px;
}

/* Sposta le frecce di navigazione più vicine al centro */
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  /* Sfondo con opacità */
  width: 20px;
  /* Larghezza delle frecce */
  height: 20px;
  /* Altezza delle frecce */
  border-radius: 50%;
  /* Fai diventare le frecce circolari */
  position: absolute;
  /* Posizionamento assoluto per sovrapporle all'immagine */
  top: 50%;
  /* Sposta verso il basso del 50% rispetto al carosello */
  margin-left: 15%;
  margin-right: 15%;
  transform: translateY(-50%);
  /* Sposta verso l'alto del 50% rispetto a se stesse */
}

/* Personalizza il colore delle icone delle frecce */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #4b05fd;
  /* Colore delle frecce */
  border-radius: 50%;
  /* Fai diventare le frecce circolari */
}

/* Personalizza lo stile del carosello */
.carousel {
  background-color:  #ced4fe;
  width: 100%;
  height: auto;
}



#mode {
  color: #000000;
  text-shadow: 4px 4px 8px rgb(30, 128, 227);
  /* Ombra del testo */
  font-family: Poppins;
}


/* ! footer */
.footer {
  background-image: url("../img/blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 100%;
  height: 310px;
  flex-direction: column;
  font-size: 13px;
  padding-bottom: 0px;
}

.footer__element {
  display: flex;
  color: #0e0197;
  font-weight: bold;
  text-shadow: 4px 4px 8px rgb(30, 128, 227);
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.footer__text {
  margin-top: 120px;
}

.align-bottom {
  align-self: center;
}

.footer__link a {
  text-decoration: none;
}

.footer__link a:link,
.footer__link a:visited {
  color: rgb(14, 1, 151);
}

.footer__link a:hover {
  color: #3EF27E;
}

.brand_icon {
  background-image: url("../img/logo.png");
  display: inline-block;
  background-size: cover;
  width: 50px;
  height: 50px;
  
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;

}

.speaker-form {
  border: 1px solid #545454;
  border-radius: 20px;
  width: auto;
  padding: 5px;
  margin: 20px 0 5px 0;
  box-shadow: 5px 5px 5px #545454;
  background-color: rgba(0, 0, 0, 0.0);
}

.form_field {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.main__container {
  width: 100%;
  margin-bottom: -16px;
  flex-grow: 1;
  min-height: 100vh;
}

.page {
  width: 99.5vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto
}

.skills-overview {
  width: 100vw;
  overflow-x: hidden;
  padding: 60px 0;
  display: flex;
  position: relative;
  z-index: 2;
  opacity: 0.75 !important;
}

.slider {
  display: flex;
  flex-direction: row;
  animation: 15s scroll infinite linear;
}


.slider>img {
  height: 100px;
  margin-right: 140px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.works {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 35px;
  flex-wrap: wrap;
}

.work-container {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  position: relative;
  box-shadow: #7676ffca 5px 5px 2px;
}

.description {
  position: absolute;
  background-image: linear-gradient(to top, black, transparent);
  width: 200px;
  height: 200px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.description>p {
  text-align: center;

}



@keyframes smooth {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-5px);
  }
}


.work-container:hover {
  animation: smooth .1s linear forwards;
  box-shadow: #7676ff 3px 3px 4px;
}

.description:hover {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}


.work-container>a {
  width: 100%;
  height: 100%;
}

.work-container>a>img {
  height: 200px;
  width: 200px;
}

.description>p {
  color: #f2f2f2;
  font-size: large;
}


/* Colori delle righe alternate */
.accordion-item:nth-of-type(odd) .accordion-button {
  background-color: #0cf8f3;
}

.accordion-item:nth-of-type(even) .accordion-button {
  background-color: #1fcaf1;
}

/* stili personalizzati per card-img-top */
.card-img-top {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: #7676ffca 5px 5px 2px;
  transition: transform 0.3s ease;
  max-height: 260px;
  max-width: 260px;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
}

/* animazione di sollevamento al passaggio del mouse */
.card-img-top:hover {
  transform: translateY(-5px);
}

/* Aggiunta dei numeri crescenti al range */
.range-labels {
  display: flex;
  justify-content: space-between;
}


.form-range::-webkit-slider-runnable-track {
  background-color: rgb(0, 0, 255);
}

.form-range::-moz-range-track {
  background-color: rgb(0, 0, 255);
}

.form-range::-ms-track {
  background-color: rgb(0, 0, 255);
}






/*----------------------------------------*/


@media screen and (max-width: 576px) {
  .footer__element {
    font-size: calc(2vh + 1vw);
  }

  .dropdown-menu {
    text-align: center;
    /* Centra il testo */
    width: 100%;
    /* Rendi il sottomenù largo quanto il contenitore */
  }

  .minibio {
    font-size: calc(8.5px + 1.55vw);
  }

  .name h1 {
    font-size: calc(15.5px + 2.55vw) !important;
  }

  .name_list {
    font-size: 16px;
  }
  
  .center_button {
    padding-left: 120px;
  }

}


@media screen and (min-width: 576px) {
  .name h1 {
    font-size: calc(13.5px + 2.55vw) !important;
  }

  .name_list {
    font-size: 18px;
  }

  .social-icons {
    margin-top: 3px;
  }
  


}


@media screen and (min-width: 576px) and (max-width: 641px) {

  .nav {
    font-size: 15px;
  }

  .dropdown-menu {
    text-align: center;
    /* Centra il testo */
    width: 100%;
    /* Rendi il sottomenù largo quanto il contenitore */
    font-size: 9.5px
  }

  .contact-form-container {
    font-size: 19px;
  }


}



@media (max-width: 634px) {

  .header-content {
    padding-top: 110px;
    /* Mantieni questo valore per le finestre più larghe */
    margin-top: 60px;
    /* Aggiungi margine superiore */
  }

  .nav-item {
    /* Stile per le voci del menu mobile */
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    /* Aggiungi spazio tra le voci */
  }

  .carousel-item img {
    max-width: 82.5%;
    max-height: 82.5%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-left: -3%;
    margin-right: -3%;
  }

  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 25px;
    right: 25px;
  }

}

@media (min-width: 635px) {
  .carousel-item img {
    max-width: 52.5%;
    max-height: 52.5%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 145px;
    right: 145px;
  }
}

@media screen and (min-width: 1024px) {

  /* Regole CSS per il layout e lo stile dei desktop */
  .headerSetDimension {
    height: calc(15vh + 25vw);
  }

  .slider>img {
    height: 145px;
  }

  .social-icons {
    font-size: 35px;
    margin-top: 10px;
  }

  .name_list {
    font-size: 24px;
  }

  .minibio {
    padding-left: 100px;
  }

  .skills__soft {
    padding-left: 100px;
  }

  .footer__text {
    margin-left: 100px;
  }

  .name h1 {
    font-size: calc(11.5px + 2.55vw) !important;
  }
  
  .carousel-item img {
    max-width: 33%;
    max-height: 33%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 300px;
    right: 300px;
  }

}


/* Regole CSS specifiche per iMacOS o AllInOne wide */
@media screen and (min-width: 1920px) {

  .skills__hard,
  .skills__soft {
    width: 75%;
    font-size: 40px;
  }


  .biography__title p {
    font-size: 30px;
  }

  .slider>img {
    height: 200px;
  }

  .progress-bar {
    height: 15px;
    /* Altezza desiderata */
    font-size: 20px;
    /* Dimensione del testo desiderata */
  }

  .footer__element {
    font-size: 40px;
  }

  .form_field {
    font-size: 30px;
  }

  .fab {
    font-size: 44px;
  }

  .navbar {
    font-size: 24px;
  }

  .footer {
    height: 420px;
  }

  .name_list {
    font-size: 34px;
  }

}